body {
  font-family: 'Raleway', helvetica, arial, san-serif; font-weight: 100;
  font-size: 18px;
  font-weight: 100;
  background: #fff;
  color: #666;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: #666;
  text-decoration: none;
  border-bottom:1px dashed #666;
}
a:hover {
  background-color: #3FA9F5;
  color: #fff;
  text-decoration: none;
  border-bottom:1px solid #fff;

}

a.section-end
{
  margin:0 0 90px 0;
}

#main {
  width: 620px;
  margin: 0 auto;
}

header {
  padding: 40px 0px 0px 0px;
  overflow: hidden;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 600;  
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 200;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 200;
}

nav {
  padding: 0px 0px 40px 0px;
}

nav ul, ul.entries {
  list-style-type: none;
}
nav li {
  display: inline;
  padding: 0 10px;
  font-weight: 100;

}
nav li a {
  margin: 5px;
}

.content
{

}

.line-seperator-orange
{
border-bottom: 4px solid #FF931E;
}

.line-seperator-green
{
border-bottom: 4px solid #7AC943;
}

.line-seperator-blue
{
border-bottom: 7px solid #3FA9F5;
}

.line-seperator-pink
{
border-bottom: 4px solid #FF7BAC;
}

.work-image
{
  background-color: #FF7BAC;
  width: 300px;
  height: 300px;
  float: left;
  margin: 5px;
}

ul.entries li {
  position: relative;
  margin: 20px auto;
  padding: 20px;
  width: 620px;
}
ul.entries img {
  width: 620px;
}
ul.entries li h3 {
  position: absolute;
  bottom: -18px;
  left: 17px;
  font-size: 2em;
}
ul.entries a {
  color: #666;
}
ul.entries a:hover {
  color: #fff;
}
footer {
  font-size: 0.65em;
  text-align: center;
}